{%- for message in messages %}
    {{- '<|im_start|>' + message.role + '\n' }}
    {%- if message.role == 'assistant' %}
        {{- '<think>\n\n</think>\n\n' + message.content + '<|im_end|>\n' }}
    {%- else %}
        {{- message.content + '<|im_end|>\n' }}
    {%- endif %}
{%- endfor %}
{%- if add_generation_prompt %}
    {{- '<|im_start|>assistant\n' }}
    {%- if enable_thinking is defined and enable_thinking is false %}
        {{- '<think>\n\n</think>\n\n' }}
    {%- endif %}
{%- endif %}
